<div class="center">
<h3 align="center"><b>BMI calculator</b></h3>
</div>
<%= render 'bmi_calc' %>
<div class="center">
<div class="col-xs-4 col-sm-offset-4">
  <%= link_to 'Cancel and go to homepage', root_path, class: "btn btn-link btn-md" %>
</div>
</div>