<!--<div id="spinner" class="row col-md-12 text-center spinner" style="display: none;">-->
<!--  <i class="fa fa-spinner fa-spin fa-2x"></i> Calculating...-->
<!--</div>-->
<div id="spinner" class="progress row col-sm-offset-5 col-md-2 text-center spinner" style="display: none;">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <!--<span class="sr-only">Calculating...</span>-->
    Calculating...
  </div>
</div>